{% extends 'base2.html' %}
{% load staticfiles %}

{% block body %}




	<!-- Slider -->









<div class="container-fluid" >
<div class="row">
<div class="col-md-12">
	


<div class="jumbotron" style="background-image: url('../static/home/images/bg.jpeg'); background-attachment: initial; color: white; margin-top: -50px; height: 500px;" >
   <div class="page-header" style="margin-top: 100px;">
    <center><h2 style="color: white;"><b>Connecting the church</b></h2> </center>     
  </div>

  <center><p class="lead" style="color: white;">Nobelie is an online community that connects members from different churches.</p>
  <hr class="my-4">
   <p class="lead">
    <a class="btn btn-default btn-lg" style="background-color: rgb(246, 64, 96); color: white;" href="#" role="button">Join Now</a>
  </p>
  </center>
</div>

</div>
</div>
</div> <!-- container -->









<div class="container"> <!-- second container -->

<div class="row">
	<div class="col text-center">
		<div class="section_title new_arrivals_title">
			<h4>You can use nobelie to</h4>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 40px; margin-bottom: 30px;">
				


<div class="card-deck">  <!-- this is the div where the whole cards are -->

		<div class="card"> <!-- first card -->
		<img class="card-img-top img-fluid" src="home/images/ministry5.jpg" alt="Card image">
		<div class="product_bubble product_bubble_left product_bubble_red d-flex flex-column align-items-center"><span>Ministries</span></div>
		<div class="card-body">
		<p class="card-text"><b>Search and follow ministries around</b></p> <br>
		<a href="#" class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Add your ministry</a>
		</div>
		</div> <!-- end first card -->


		<div class="card"> <!-- second card -->
		<img class="card-img-top img-fluid" src="images/friends.jpg" alt="Card image">
		<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>Friends</span></div>
		<div class="card-body">

		<p class="card-text"><b>Search and follow friends going to your church and other churches</b></p> 
		<a href="#" class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Find friends</a>
		</div>
		</div> <!-- end second card -->


		<div class="card"> <!-- third card -->
		<img class="card-img-top img-fluid" src="images/question3.jpg" alt="Card image">
		<div class="product_bubble product_bubble_left product_bubble_red d-flex flex-column align-items-center"><span>Questions</span></div>
		<div class="card-body">
		<p class="card-text"><b style="font-weight: bolder;">Ask pressing questions and get answers from other members</b></p> 
		<a href="#" class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Ask your question</a>
		</div>
		</div> <!-- end second card -->


		<div class="card"> <!-- fourth card -->
		<img class="card-img-top img-fluid" src="images/calendar7.jpg" alt="Card image">
		<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>Events</span></div>
		<div class="card-body">

		<p class="card-text"><b>Find or add upcoming events</b></p> <br><br>
		<a href="#" class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Create your event</a>
		</div>
		</div><!--  end fourth card -->


</div>  <!-- end card-deck -->
</div>
</div>  <!-- end  second container -->








		
	</div>

			<div class="container-fluid">
				

				<div class="jumbotron" style="background-color: white;" >

				<div class="row">
					
				
				<div class="col-md-12 offset-md-1" >
					<h5 style="color: rgb(229, 73, 176)"> <span style="font-size: 20px;">Join your colleagues, church members and friends on Nobelie.</span></h5><br>

					<p>
						<button class="btn btn-default" style="background-color: rgb(229, 73, 176); color: white; border-radius: 20px;">Join Nobelie</button>
					</p>
				</div>


				</div>


			</div>

{% endblock %}





